@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700');

@font-face {
  font-family: "socicon";
  src:url("font/socicon.eot");
  src:url("font/socicon.eot?#iefix") format("embedded-opentype"),
    url("font/socicon.woff") format("woff"),
    url("font/socicon.ttf") format("truetype"),
    url("font/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Colors */
/*green: #17c7d2
  red  : #d65050
  blue : #337ab7
  dark : #47425d;
  gray transparent light : rgba(51,51,51,0.3);
  gray transparent : rgba(51,51,51,0.9);
 */

.sessions .session {
	border-color: rgba(51,51,51,0.3);
	border-top-color: #17c7d2;
}

.location {
	color: #d65050;
	padding-right: 0.2em;
}

header {
	background-color: #337ab7;
}

header h1 {
	color: rgba(230,230,230,1);
}

body {
	color: #17c7d2;
	background-color: rgba(21,21,21,1.0);
}

.search {
	background-color: #337ab7;
	border: none;
}

.display .session:nth-child(even) {
	background-color: rgba(40,40,40,1.0);
}

.display .header {
	background-color:  #17c7d2;
	color: black;
}

.livedot {
	  background-color: #d65050
}

/*CSS*/

body{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 38pt;
	margin: 0;
}

header {
	width: auto;
	padding: 1px 1em;
}

.search {
	font-size: large;
	max-width: 400px;
	width: 100%;
}

.logo {
	height: 1.6em;
	float:right;
}


/*display grid */

.display {
  list-style: none;
  padding: 0;
  margin:0;
}

.display .header {
  display: grid;
  grid-template-columns: minmax(2em,5%) 1fr minmax(5em,5%) minmax(4em,5%) minmax(5em,25%); /*number, title, time, room, status*/
  padding: 0.3em 0em;
  font-weight: 700;
}

.session {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(2em,5%) 1fr minmax(5em,5%) minmax(4em,5%) minmax(5em,25%); /*number, title, session, time, room, status*/
  padding: 0.3em 0.2em;
}

.session .id {
	padding-right: 0.5em;
	text-align: right;
}

.session .title {
	font-weight: 500;
}

.session .title .info {
	font-weight: 400;
	font-size: smaller;
}

.session .time {
	text-align: right;
	padding-right: 0.5em;
}

span.canceled {
  text-decoration: line-through;
}

/* social icons */

.livedot {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: -2px;
}

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0em 0.2em;
}

.socicon-twitter:before {
  content: "\e040";
}

.socicon-instagram:before {
  content: "\e057";
}

.socicon-facebook:before {
  content: "\e041";
}

.socicon-mail:before {
  content: "\e01f";
}