<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=0.7">
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<script type="text/javascript" src="vue.js"></script>
	<title>Tablå</title>
	<script type="text/x-template" id="modal-template">
	  <transition name="modal">
	    <div class="modal-mask">
	      <div class="modal-wrapper">
	        <div class="modal-container">

	          <div class="modal-header">
	            <slot name="header">
	              default header
	            </slot>
	          </div>

	          <div class="modal-body">
	            <slot name="body">
	              default body
	            </slot>
	          </div>

	          <div class="modal-footer">
	            <slot name="footer">
	              default footer
	              <button class="modal-default-button" @click="$emit('close')">
	                OK
	              </button>
	            </slot>
	          </div>
	        </div>
	      </div>
	    </div>
	  </transition>
	</script>
</head>
<body>
	<div id="app">
		<header>
			<input type="text" class="search" v-model="search" placeholder="Search title, presenter, room, Session ID..."/>
			<div v-show="search != ''">{{ filteredSessions | count }} sessions found</div>
		</header>

		<section id="main">
			<div v-for="timeslot in filteredSessionsByTimeslot">
				<div v-if="timeslot.days != null" v-bind:id = "timeslot.day" class="days">
					<a v-for="d in timeslot.days" v-bind:href="'#' + d" v-bind:class="{active: d == timeslot.day}">{{ d }}</a>
				</div>
				<h2>{{ timeslot.title }}</h2>
				<div class="sessions">
					<div class="session" v-for="session in timeslot.sessions">
						<div class="location">{{ session.locationID }}</div>
						<a role="button" v-on:click="showSessionDetail = session.sessionID"><div class="title"><span class="id">{{ session.sessionID }}:</span> {{ session.title }}</div></a>
					</div>
				</div>
			</div>
		</section>
		<footer>
			
		</footer>
		<modal v-if="showSessionDetail != ''" @close="showSessionDetail = ''">
			<h3 slot="header"><div class="title"><span class="id">{{ sessionDetail.sessionID }}:</span> {{ sessionDetail.title }}</div></h3>
			<p slot="body">Room: {{ sessionDetail.locationID }}, {{ sessionDetail.startTime }} - {{ sessionDetail.endTime }}</p>
		</modal>
	</div>
</body>
<script type="text/javascript" src="script.js"></script>
</html>
