<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=0.7">
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="script/clipboard-polyfill.js"></script>
	<title>Tablå</title>
	<script type="text/x-template" id="link-template">
		  <a
		    v-bind:href="href"
		    v-bind:class="{ active: isActive }"
		    v-on:click="go"
		  >
		    <slot></slot>
		  </a>
	</script>
	<script type="text/x-template" id="sessiondetail-template">
	<div class="overlay">
	<div class="header" onclick="window.history.back();" v-bind:class="{passed: status == 'passed', ongoing: status == 'ongoing'}">
		<h2><span class="title">
				<span v-if="!session.number.startsWith('_')" class="id">{{ session.number }}:</span> {{ session.title }}
				<span v-if="statusText != ''"> — <span v-html="statusText"></span></span>
			</span>
			<span class="close"> ╳ </span>
		</h2>
	</div>
    <div class="content">
		<div class="body">
			<div class="meta">
				<div>
					<div class="description">Chair</div>
					<div class="value">{{ session.chairs }}</div>
				</div>
				<div>
					<div class="description">Room</div>
					<div class="value">{{ session.room }}</div>
				</div>
				<div>
					<div class="description">Day</div>
					<div class="value">{{ session.startTime | formatDay }}</div>
				</div>
				<div>
					<div class="description">Time</div>
					<div class="value">{{ session.startTime | formatTime }} - {{ session.endTime | formatTime }}</div>
				</div>
				<div>
					<div class="description">Duration</div>
					<div class="value">{{ session.duration }} min</div>
				</div>
			</div>

			<p v-html="session.description"></p>

			<ul class="talks">
				<li v-for="talk in talks">
					<talk v-bind:talk="talk" v-bind:now="now"/>
				</li>
			</ul>

			<p>
				<a class="button" v-bind:href="ical" v-bind:download="session.number + '.ics'">📅 Add to calendar</a>
				<a class="button" v-on:click="copyNotes">📝 Export to notes</a>
			</p>

			<div v-bind:id="'notes-for-session-' + session.number" style="display:none;">
				<h2>{{ session.number }}: {{ session.title }}</h2>
				<p>Chair: {{ session.chairs }}</p>
				<br/>
				<span v-if="talks">
					<span v-for="talk in talks">
						<h3>{{ talk.title }}</h3>
						<p>
							<span v-for="(author, index) in talk.authors">{{ author.name }} (<a v-if="author.url != ''" v-bind:href="author.url">{{ author.organization }}</a><span v-if="author.url == ''">{{ author.organization }}</span>)
								<span v-if="index+1 < talk.authors.length">, </span>
							</span>
						</p>
						<p><br/><br/></p>
					</span>
				</span>
			</div>
		</div>
    </div>
  </div>
	</script>
	<script type="text/x-template" id="talk-template">
		<div class="talk">
			<div class="timeline" v-bind:class="{passed: status == 'passed'}">
				<div class="line"/>
				<div class="time">{{ talk.startTime | formatTime }}</div>
				<div class="line"/>
			</div>
			<span class="info">
				<div class="title" v-on:click='showDetail = !showDetail'>
					<a class="button"><span v-if= "!showDetail"> ℹ︎ </span><span v-if= "showDetail"> ╳ </span></a>
					{{ talk.title }}<span v-if="talk.category == 'industrial-paper'" class="tag" title="Professional paper">Professional&nbsp;paper</span> 
				</div>
				<div class="presenter" v-on:click='showDetail = !showDetail' v-if= "!showDetail && talk.presenter.length > 0">
					{{ talk.presenter[0].name }}, <a v-if="talk.presenter[0].url != ''" v-bind:href="talk.presenter[0].url">{{ talk.presenter[0].organization }}</a><span v-if="talk.presenter[0].url == ''">{{ talk.presenter[0].organization }}</span>
				</div>
				<div v-show="showDetail" class="presenter">
					<span v-for="(author, index) in talk.authors">
						{{ author.name }}, <a v-if="author.url != ''" v-bind:href="author.url">{{ author.organization }}</a><span v-if="author.url == ''">{{ author.organization }}</span><span v-if="index+1 < talk.authors.length"></br></span>
					</span>
				</div>
				<div v-show="showDetail" class="abstract" v-html="talk.abstract" class="abstract"></div>
			</span>
		</div>
	</script>
</head>
<body>
	<div id="app">
		<header>
			<div class="conference"><a v-bind:href="conferenceUrl">{{ conferenceName }}</a></div>
			<div v-if="debug">
				<button type="button" v-on:click="addMinutesToNow(-24*60)">-1d</button>
				<button type="button" v-on:click="addMinutesToNow(-60)">-1h</button>
				<button type="button" v-on:click="addMinutesToNow(-1)">-1min</button>
				<button type="button" v-on:click="now = new Date(2019,5,17,9,0)">Start</button>
				<button type="button" v-on:click="addMinutesToNow(1)">+1min</button>
				<button type="button" v-on:click="addMinutesToNow(60)">+1h</button>
				<button type="button" v-on:click="addMinutesToNow(24*60)">+1d</button>
			</div>
			<input type="text" class="search" v-model="search" placeholder="Search title, presenter, room, Session ID..."/>
			<div v-show="search != ''">{{ filteredSessions | count }} sessions found</div>
		</header>

		<section id="main">
			<div v-for="timeslot in filteredSessionsByTimeslot">
				<div v-if="timeslot.days != null" v-bind:id = "filterDay == '' ? '/' + timeslot.day : null" class="days">
					<vlink v-for="d in timeslot.days" v-bind:href="'#/' + d" v-bind:class="{current: d == timeslot.day}">{{ d }}</vlink>
				</div>
				<h2 class="timeslot" v-if="timeslot.sessions.length > 0 && (timeslot.sessions.length > 1 || !(timeslot.sessions[0].kind.includes('break') || timeslot.sessions[0].kind.includes('lunch')))" v-bind:class="{passed: timeslot.status == 'passed', ongoing: timeslot.status == 'ongoing'}">{{ timeslot.title }}
					<span v-if="timeslot.statusText != ''"> — <span v-html="timeslot.statusText"></span></span>
				</h2>
				<div class="sessions">
					<div class="session" v-for="session in timeslot.sessions" v-bind:class="{single: timeslot.sessions.length == 1, break: session.kind.includes('break') || session.kind.includes('lunch'), passed: timeslot.status == 'passed', ongoing: timeslot.status == 'ongoing'}">
						<div class="location">
							<vlink v-bind:href="'#/session/' + session.number">
								{{ session.room }}
							</vlink>
						</div>
						<div class="info">
							<vlink v-bind:href="'#/session/' + session.number">
								<span class="title">
									<span v-if="!session.number.startsWith('_')" class="id">{{ session.number }}:</span> {{ session.title }}
								</span>
								<span v-if="session.kind != 'presentations'"> {{ session.duration }} minutes</span>
							</vlink>

							<div class="detail">
								<p v-if="(search).length >= 2" v-for="talk in filteredTalks[session.number]">
									{{ talk.title }} <span v-if= "talk.presenter.length > 0">({{talk.presenter[0].name}})</span>
								</p>
								<span v-if="(search).length == 0" v-for="(talk, index) in filteredTalks[session.number]">
									<span v-if= "talk.presenter.length > 0" v-on:click="search = talk.presenter[0].name">{{talk.presenter[0].name}}</span><span v-if="talk.category == 'industrial-paper'" class="tag" title="Professional paper">PP</span><span v-if="index+1 < filteredTalks[session.number].length">, </span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div v-if="search != '' && filteredSessions.length == 0" class="message">No sessions found<br/>😢</div>
		</section>
		<footer>
			
		</footer>

	 	 <transition name="overlay">
			<sessiondetail v-if="sessionDetail != null" v-bind:session="sessionDetail" v-bind:talks="talksBySession[sessionDetail.number]" v-bind:now="now"/>
		</transition>
	</div>
	<footer>
		<a href="https://github.com/bitsteller/tabla">Tablå</a>
	</footer>
	
	<script type="text/javascript" src="./script/main.js"></script>
</body>
</html>
