<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=0.7">
	<link rel="stylesheet" type="text/css" href="display.css"/>
	<script type="text/javascript" src="script/vue.js"></script>
	<title>Tablå</title>
	<script type="text/x-template" id="link-template">
		  <a
		    v-bind:href="href"
		    v-bind:class="{ active: isActive }"
		    v-on:click="go"
		  >
		    <slot></slot>
		  </a>
	</script>
	<script type="text/x-template" id="multimessage-template">
		<div>
			<span v-if="messages.length > 0">
				<transition name="fade">
					<div v-if="message.length > 0 && message.length < maxLength" class="message">
						<span v-html="message"/>
					</div>
				</transition>
				<transition name="fade">
					<marquee v-if="message.length >= maxLength" class="message">
						<span v-html="message"/>
					</marquee>
				</transition>
			</span>
		</div>
	</script>
</head>
<body>
	<div id="app">
		<div v-if="showSettings">
			<div>Settings:</div>
			<input type="text" class="search" v-model="search" placeholder="Room"/>
			<button type="button" v-on:click="showSettings=false;">Close</button>
		</div>
		<div v-if="debug">
			<button type="button" v-on:click="addMinutesToNow(-24*60)">-1d</button>
			<button type="button" v-on:click="addMinutesToNow(-60)">-1h</button>
			<button type="button" v-on:click="addMinutesToNow(-1)">-1min</button>
			<button type="button" v-on:click="now = new Date(2019,5,17,9,0)">Start</button>
			<button type="button" v-on:click="addMinutesToNow(1)">+1min</button>
			<button type="button" v-on:click="addMinutesToNow(60)">+1h</button>
			<button type="button" v-on:click="addMinutesToNow(24*60)">+1d</button>
			<button type="button" v-on:click="phase = phase + 1">+1p</button>
			<span style="font-size: small;"> {{now | formatTime }}</span>
		</div>
		<div v-if="search==''">
			No room set. Set room by pressing ALT-S!
		</div>



		<span v-if="roomView == 'session'">
			<header>
				<h1>
					{{ upcomingSessions[0].number}}: {{ upcomingSessions[0].title}} 
				</h1>
				<multimessage class="location" max-length=5 v-bind:messages="[upcomingSessions[0].room]"/>
			</header>
			<div class="now" v-if="now >= talk.startTime && now <= talk.endTime" v-for="(talk, index) in talksBySession[upcomingSessions[0].number]">
				<span class="minutesleft" v-bind:class="{low: Math.floor(((talk.endTime - now)/1000)/60) < 6}">{{ Math.floor(((talk.endTime - now)/1000)/60)}}</span>
				<span>
					<span v-bind:class="{canceled: canceledTalks.includes(talk.number)}">{{ talk.title }}</span> <span v-if= "talk.presenter.length > 0">({{talk.presenter[0].name}})</span>
				</span>
			</div>
			<div class="announcement">
				<p v-if="now < talk.startTime && now <= talk.endTime" v-for="(talk, index) in talksBySession[upcomingSessions[0].number]">
					<span v-bind:class="{canceled: canceledTalks.includes(talk.number)}">{{ talk.title }}</span> <span v-if= "talk.presenter.length > 0">({{talk.presenter[0].name}})</span>
				</p>
			</div>
		</span>
		<span v-if="roomView == 'nextsession'">
			<header>
				<h1>
					<span v-if="upcomingSessions[0].statusText == ''" class="time">Next session at {{ upcomingSessions[0].startTime | formatTime }}</span>
					<span v-if="upcomingSessions[0].statusText != ''" class="time" v-html="upcomingSessions[0].statusText"></span>
				</h1>
				<multimessage class="location" max-length=5 v-bind:messages="[upcomingSessions[0].room]"/>
			</header>
			<div class="announcement">
				<h2><multimessage max-length=50 v-bind:messages="[upcomingSessions[0].number + ': ' + upcomingSessions[0].title]"/></h2>
				<p v-for="(talk, index) in talksBySession[upcomingSessions[0].number]">
					<span v-bind:class="{canceled: canceledTalks.includes(talk.number)}">{{ talk.title }}</span> <span v-if= "talk.presenter.length > 0">({{talk.presenter[0].name}})</span>
				</p>
				<img class="logo" src="http://www.railnorrkoping2019.org/wp-content/uploads/2018/05/LiU_RailNrk_white.png"/>
			</div>
		</span>
		<span v-if="roomView == 'nomoresession'">
			<header>
				<h1>Information</h1>
				<span class="location">{{ search }}</span>
			</header>
			<div class="announcement">
				No upcoming sessions in this room.</br>
				 <img class="logo" src="http://www.railnorrkoping2019.org/wp-content/uploads/2018/05/LiU_RailNrk_white.png"/>
			</div>
		</span>
		<span v-if="roomView == 'announcement'">
			<header>
				<h1>Information</h1>
				<img class="logo" src="http://www.railnorrkoping2019.org/wp-content/uploads/2018/05/LiU_RailNrk_white.png"/>
			</header>
			<div class="announcement">
				<h2>{{ announcements[displayIndex].title }}</h2>
				<p v-html="announcements[displayIndex].message"></p>
			</div>
		</span>
	</div>
</body>
<script type="text/javascript" src="./script/display.js"></script>
<script type="text/javascript" src="./script/main.js"></script>
</html>
