@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

@font-face {
  font-family: "socicon";
  src:url("font/socicon.eot");
  src:url("font/socicon.eot?#iefix") format("embedded-opentype"),
    url("font/socicon.woff") format("woff"),
    url("font/socicon.ttf") format("truetype"),
    url("font/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Colors */
/*green: #17c7d2
  red  : #d65050
  blue : #337ab7
  dark : #47425d;
  gray transparent light : rgba(51,51,51,0.3);
  gray transparent : rgba(51,51,51,0.9);
 */

.sessions .session {
	border-color: rgba(51,51,51,0.3);
	border-top-color: #17c7d2;
}

.id {
	color: rgba(51,51,51,0.5);
	padding-right: 0.2em;
}

header {
	background-color: rgba(200,200,200,0.8);
}

body {
	color: #47425d;
}

.days a {
	border-color: #d65050;
	color: #d65050;
}

.days a.active {
	background-color: #d65050;
	color: #fff;
	font-weight: bold;
}

/*CSS*/

body{
	font-family: 'IBM Plex Sans', sans-serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 1em;
}

div#app {
	margin-top: 4em;
}

.search {
	font-size: large;
	max-width: 400px;
	width: 100%;
}

.sessions {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

@media screen and (max-width:1024px) { 
	.sessions {
		padding-left: 0px;
		padding-right: 0px;
	}
	.sessions .session {
		padding: 1em 1.5em;
		overflow: hidden;
		flex-grow: 1;
	}
}

.sessions .session {
	border-style: solid;
	border-width: 1px 0px;
	min-width: 250px;
	width: 500px;
	padding: 0.5em;
	margin:  0.5em 1em;
	flex-flow: row wrap;
	display: flex;
}

.session .location {
	font-size: x-large;
	padding-right: 1em;
}

.session .title {
	font-weight: bold;
}

.days {
	padding: 1em;
	padding-top: 3em;
	/*text-align: center;*/
}

.days a {
	padding: 0.5em 1em;
	border-width: 1px;
	border-style: solid;
	border-right-width: 0px;
	text-decoration: none;
}

.days a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}


.days a:last-child {
	border-right-width: 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* modal */

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 80%;
  min-height: 80%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
  font-size: x-large;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

/* social icons */

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0em 0.2em;
}

.socicon-twitter:before {
  content: "\e040";
}

.socicon-instagram:before {
  content: "\e057";
}

.socicon-facebook:before {
  content: "\e041";
}

.socicon-mail:before {
  content: "\e01f";
}