@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

@font-face {
  font-family: "socicon";
  src:url("font/socicon.eot");
  src:url("font/socicon.eot?#iefix") format("embedded-opentype"),
    url("font/socicon.woff") format("woff"),
    url("font/socicon.ttf") format("truetype"),
    url("font/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Colors */
/*green: #17c7d2
  red  : #d65050
  blue : #337ab7
  dark : #47425d;
  gray transparent light : rgba(51,51,51,0.3);
  gray transparent : rgba(51,51,51,0.9);
 */

.session .info, .meta>div {
	border-color: rgba(51,51,51,0.3);
}

.session .detail, .talk .presenter, footer a {
	color: rgba(51,51,51,0.6);
}

.timeslot, .overlay .header, .session.break {
	border-top-color: #17c7d2;
	background-color: rgba(23,199,210,0.08);
	/*background-image: linear-gradient(to bottom, rgba(23,199,210,0.1), transparent);*/
}

.timeslot.passed, .overlay .header.passed, .session.break.passed {
	border-top-color: rgba(51,51,51,0.2);
	background-color: rgba(51,51,51,0.1);
}

.session.break, .session.break.passed {
	background-color: transparent;
}

.id {
	color: rgba(51,51,51,0.5);
	padding-right: 0.2em;
}

header {
	background-color: rgba(200,200,200,0.8);
}

header a {
	color: rgba(51,51,51,0.9);
}

.search {
	border-color: rgba(51,51,51,0.9);
}

body {
	color: #47425d;
}

.days a, a.button {
	border-color: #d65050;
	color: #d65050;
}

.days a.current, a.button:hover {
	background-color: #d65050;
	color: #fff;
}

.session a {
	color: #47425d;
}

.timeline .time {
 	background: #17c7d2;
}
.timeline .line {
	border-left-color: #17c7d2;
}

.timeline.passed .time {
 	background: rgba(51,51,51,0.2);
}
.timeline.passed .line {
	border-left-color: rgba(51,51,51,0.2);
}

.meta {
	background-color: rgba(51,51,51,0.1);
}

.meta .description {
	color: rgba(51,51,51,0.5);
}

.tag {
	background-color: rgba(51,51,51,0.3);
	color: rgba(255,255,255,1);
}

/*CSS*/

body{
	font-family: 'IBM Plex Sans', sans-serif;
  	overflow:auto;
  	margin: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5em 1em;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: stretch;
}

div#app {
	margin-top: 4em;
}

header div {
	margin: 0px 0.5em;
}

.conference {
	font-weight: 800;
	flex-grow: 1;
	text-align: center;
	line-height: 1.5;
}

.search {
	font-size: large;
	width: 300px;
	min-width: 200px;
	max-width: 450px;
	line-height: 1.5;
	border-style: none;
	border-radius: 5px;
	padding: 3px 8px;
	flex-grow: 10;
	flex-shrink: 1;
}

h2.timeslot, .session.break {
	border-top-style: solid;
	border-top-width: 2px;
	padding: 0.5em 1em;
}

.sessions {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

@media screen and (max-width:1024px) { 
	.sessions {
		padding-left: 0px;
		padding-right: 0px;
	}
	.sessions .session {
		padding: 1em 1.5em;
		overflow: hidden;
		flex-grow: 1;
	}
}

.sessions .session {
	min-width: 250px;
	width: 450px;
	padding: 0.5em;
	margin:  0.5em 1em;
	flex-flow: row nowrap;
	display: flex;
}

.session.single {
 	width: 100%;
}

.session.break {
	margin-left: -1em;
 	margin-right: -1em;
 	margin-top: 2em;
 	margin-bottom: -1.2em;
  	padding-right: : 1.5em;
}

.session .location {
	font-size: x-large;
	padding-right: 10px;
	min-width: 2em;
}

.session.break .location {
	padding-right: 0.2em;
}

.session .info {
	padding-left: 10px;
	flex-grow: 1;
	border-left-style: solid;
	border-left-width: 2px;
}

.session.break .info{
	border-left-style: none;
}

.session .title {
	font-weight: bold;
}

.session a:link {
	text-decoration: none;
}

.session .detail {
	padding-top: 0.5em;
}


.days {
	padding: 1em;
	padding-top: 1.6em;
	overflow: scroll;
	/*text-align: center;*/
}

.days a {
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-right-width: 0px;
	text-decoration: none;
}

.days a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}


.days a:last-child {
	border-right-width: 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

ul.talks {
	padding: 1em;
	margin: 0;
}

ul.talks li {
	font-size: small;
	position: relative;
	list-style-type: none;
	text-align: left;
}

ul.talks .talk {
	flex-wrap: nowrap;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.talk .title {
	font-weight: 800;
	cursor: pointer;
}

.timeline {
	text-align: center;
	flex-flow: column nowrap;
	display: flex;
	align-items: center;
}

.timeline .time {
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  padding: 0px 5px;
  color: white;
  flex-shrink: 0;
  flex-grow: 0;
}

ul.talks li .info {
	padding-left: 0.5em;
  	padding-top: 0.5em;
  	font-size: large;
}


.timeline .line {
  flex-grow: 1;
  border-left-style: solid;
  border-left-width: 3px;
}

.timeline .line:first-child {
  flex-grow: 0;
  height: 1.5em;
}

.talks li:first-child .timeline .line:first-child {
  border-style: none;
}
.talks li:last-child .timeline .line:last-child {
  border-style: none;
}


.meta {
	display: flex;
	flex-flow: row wrap;
	align-content: stretch;
}

.meta>div {
	text-align: center;
	padding: 5px 0px;
	margin: 0px 10px;
	border-top-style: solid;
	border-top-width: 1px;
}

.meta .description {
	font-size: small;
	text-transform: uppercase;
}

.meta .value {
	font-size: large;
}



footer {
	text-align: center;
	padding: 2em 1em;
	font-size: small;
}


.conference a:link {
	text-decoration: none;
}

.tag {
	border-radius: 4px;
	font-size: smaller;
	margin: 0em 0.2em;
	padding: 0em 0.25em;
	font-weight: 400;
}

/* Overlay */

.overlay {
  position: fixed;
  width: 96%;
  height: 96%;
  max-width: 1024px;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
  background-color: rgba(255,255,255,0.94);
  z-index: 2;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  display: flex;
  flex-flow: column nowrap;
}

.overlay .content {
	font-size: larger;
  	overflow: scroll;
}

.overlay .header {
	border-top-style: solid;
	padding: 0.2em 1em;
 	cursor: pointer;
}

.overlay .header h2 {
	flex-flow: row nowrap;
	align-content: stretch;
	display: flex;
}

.overlay .header h2 span {
	flex-grow: 1;
}

.overlay .header h2 .close {
	flex-grow: 0;
	padding: 0em 0.5em;
}

.overlay .body {
	padding-bottom: 1em;
}
.overlay .body p {
	padding-left: 10px;
	padding-right: 10px;
}

.noscroll {
	overflow: hidden;
}

/* button */

a.button {
	padding: 6px;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	cursor: pointer;
}

a.button:link {
	text-decoration: none;
}
/* social icons */

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0em 0.2em;
}

.socicon-twitter:before {
  content: "\e040";
}

.socicon-instagram:before {
  content: "\e057";
}

.socicon-facebook:before {
  content: "\e041";
}

.socicon-mail:before {
  content: "\e01f";
}